/*========== Colors ==========*/
body {
  --light: #ece4e4;
  --dark: #181717;
  --accent: #ce5f6f;
  --accent-hover: #94505a;
  --brown: #252323de;
}

body.light-theme {
  --hue: 0;
  --sat: 0%;
  --light: #000000;
  --dark: hsl(var(--hue), var(--sat), 98%);
  --brown: hsl(var(--hue), var(--sat), 95%);
}

body.light-theme .button {
  color: var(--dark);
}

body.light-theme .button svg path {
  fill: var(--dark);
}
